<div class="container">
    <main>
      <div class="py-3 text-center">
        <h2>ALTA PELICULA</h2>
      </div>
  
      <div class="row g-5">
        <div class="col-md-6 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">SELECCIONA UN ACTOR</span>
          </h4>
  
          <div class="py-5 text-center" style="overflow: scroll">
            <app-actor-listado
              (PasamosUnActor)="tomarActorSeleccionado($event)"
              [listadoRecibidoDeActores]="listadoActores"
            ></app-actor-listado>
          </div>
  
          <br />
          <small style="color: red" *ngIf="forma.invalid && formEnviado">
            El actor es requerido
          </small>
        </div>
        <div class="col-md-7 col-lg-8">
          <form [formGroup]="forma" (ngSubmit)="agregarPelicula($event)">
            <h4 class="mb-3 text-primary">DATOS PELICULA</h4>
            <div class="row g-3">
              <!-- CONTROL NOMBRE -->
              <div class="col-sm-6">
                <label for="nombre" class="form-label">Titulo</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="nombre"
                  required
                />
                <small
                  style="color: red"
                  *ngIf="forma.controls['nombre'].errors?.['required'] && forma.controls['nombre'].touched"
                >
                  El nombre es requerido
                </small>
              </div>
              <!-- CONTROL ESPECTADORES -->
              <div class="col-md-3">
                <label for="espectadores" class="form-label">Espectadores</label>
                <input
                  type="number"
                  formControlName="espectadores"
                  class="form-control"
                  required
                />
                <small
                  style="color: red"
                  *ngIf="forma.controls['espectadores'].errors?.['required'] && forma.controls['espectadores'].touched"
                >
                  Los espectadores son requeridos
                </small>
              </div>
              <!-- CONTROL TIPO -->
              <div class="col-md-5" style="width: contain">
                <label for="tipo" class="form-label">Tipo</label><br />
                <select id="tipo" formControlName="tipo" required>
                  <option value="">Seleccione tipo</option>
                  <option value="Comedia">Comedia</option>
                  <option value="Terror">Terror</option>
                  <option value="Otro">Otro</option>
                </select>
                <br />
                <small
                  style="color: red"
                  *ngIf="forma.controls['tipo'].errors?.['required'] && forma.controls['tipo'].touched"
                >
                  El tipo es requerido
                </small>
              </div>
              <!-- CONTROL FECHA -->
              <div class="col-md-5" style="width: contain">
                <label for="estreno" class="form-label">Estreno</label>
                <input
                  type="date"
                  formControlName="estreno"
                  class="form-control"
                  required
                />
                <small
                  style="color: red"
                  *ngIf="forma.controls['estreno'].errors?.['required'] && forma.controls['estreno'].touched"
                >
                  La fecha es requerida
                </small>
              </div>
              <!-- SELECCIONAR PORTADA -->
              <h4 class="mb-3 text-primary">SELECCIONA UNA PORTADA</h4>
              <div class="row">
                <div
                  class="col"
                  style="height: 160px; margin-top: 1rem; overflow: scroll; background: #000;"
                >
                  <img
                    *ngFor="let imagen of listadoImagenes"
                    src="{{ imagen }}"
                    style="width: 120px; height: 150px; padding: 10px; object-fit: cover;"
                    class="imagen"
                    (click)="seleccionarPortada(imagen)"
                    alt="foto pelicula"
                  />
                </div>
                <small style="color: red" *ngIf="!imagenSeleccionada">
                  Debes seleccionar una portada
                </small>
              </div>
            </div>
  
            <hr class="my-4" />
  
            <button class="w-100 btn btn-primary btn-lg" type="submit">
              Registrar Pelicula
            </button>
          </form>
        </div>
      </div>
  
      <button
        style="margin-top: 2rem; display: block; margin-left: auto; margin-right: auto;"
        class="w-50 btn btn-lg"
        [ngClass]="vistaListado ? 'btn-danger' : 'btn-success'"
        type="button"
        (click)="verListado()"
      >
        {{ textoVistaListado }}
      </button>
  
      <div class="py-5 text-center" *ngIf="vistaListado">
        <h2>LISTADO DE PELICULAS</h2>
        <!-- <app-actor-listado
          [listadoRecibidoDeActores]="listadoActores"
        ></app-actor-listado> -->
        <app-pelicula-listado [listadoRecibidoDePeliculas]="listadoPeliculas">
        </app-pelicula-listado>
      </div>
    </main>
  
</div>